<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportUp">
        <activity android:name=".Admin_Home"></activity>
        <activity android:name=".view_Message" />
        <activity
            android:name=".test"
            android:label="@string/title_activity_test" />
        <activity android:name=".Edit_profile_trainer" />
        <activity android:name=".send_message_for_trainer" />
        <activity android:name=".contact_with_us" />
        <activity android:name=".edit_profile_user" />
        <activity android:name=".Find_trainer" />
        <activity android:name=".home_Workout" />
        <activity android:name=".trainer_add_Exersice" />
        <activity android:name=".user_Home" />
        <activity android:name=".trainer_Home" />
        <activity android:name=".success_join" />
        <activity android:name=".user_Login" />
        <activity android:name=".register_User" />
        <activity android:name=".register_Trainer" />
        <activity android:name=".register_Screen" />
        <activity android:name=".trainer_Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>